body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: rgb(246, 248, 252);
}

button {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

    background-color: rgb(52, 120, 255);
    color: white;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    width: max-content;
}

button:hover {
    background-color: rgba(78, 137, 254, 1);
}

button:disabled {
    cursor: auto;
    background-color: rgba(52, 120, 255, 0.3);
}

input {
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
}

h2 {
    background-color: white;
    padding: 10px 20px;
    margin: 10px 0;
}
